/// Lists - to be extended by One-Nexus wells
///
/// @group modules
///
/// @param {map} $custom - where custom config will be passed
@mixin _wells($custom: custom('wells')) {

    // Configuration
    $wells: config($wells, $custom);

    @include modifier('box') {
        box-shadow: 1px 1px 5px rgba(black, 0.1);
    }

    @include modifier('deep') {
        padding: 2em;
    }

    @include modifier('opaque') {
        background-color: rgba(black, 0.1);
    }

    @include modifier('round') {
        border-radius: 0.4em;
    }

    @include modifier('hoverCard') {
        transition: core('transition');
        display: block;
        color: color('greyscale', white);
        &:hover {
            background-color: color('greyscale', 'grey-1');
            box-shadow: 1px 1px 4px 1px rgba(black, 0.1);
            transform: scale(1.1);
            color: color('brand', 'brand-4');
        }
    }

    @include modifier('dark') {
        p, ul {
            opacity: 0.75;
        }
        li:before {
            color: rgba(black, 0.75);
        }
    }

}