<header class="header{{#each header.modifiers}}-{{.}}{{/each}}">
    <div class="header_wrapper{{#if wide}}-wide{{/if}}">
        <div class="logo">
            <a href="{{assets}}" alt="One-Nexus logo">
                <img src="{{assets}}assets/images/logo-light.png" alt="One Nexus Logo">
            </a>
        </div>
        <nav class="navigation">
            {{> navigation}}
        </nav>
    </div>
</header>