<div class="sideNav">
    <div class="sideNav_head">
        <a class="sideNav_logo" href="{{assets}}" alt="One-Nexus logo">
            <img src="{{assets}}assets/images/logo-light.png" alt="One Nexus Logo">
        </a>
        <button class="sideNav_toggle button-border-white">Close</button>
    </div>
    <nav>{{> navigation}}</nav>
</div>