@include module('spacestation') {

    $image-path: '#{$asset-path}/images/spacestation';

    background-color: #000120;
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: 0;
    width: 100%;
    padding-top: 70%;

    @media (max-width: 960px) {
        background-image: url('#{$image-path}/spacestation.svg');
        background-size: 100%;
        background-position-y: bottom;
    }

    @include component('content') {
        position: absolute;
        top: 10vw;
        left: 0;
        right: 0;
        width: 800px;
        max-width: 90%;
        margin: auto;
        text-align: center;
        .logo {
            text-align: center;
            img {
                height: 65px;
            }
        }
    }

    @include component('tagline') {
        color: white;
        letter-spacing: 0.12em;
        margin-top: 1.75em;
        opacity: 0.8;
        text-shadow: 1px 1px 1px rgba(black, 0.75);
    }

    // Layers

    @include component('layer') {

        position: absolute;

        @media (max-width: 960px) {
            display: none;
        }

        @include modifier('planets') {
            top: 0;
            width: 100%;
        }

        @include modifier('rocket') {
            position: fixed;
            top: 5vw;
            left: 10%;
            width: 10%;
            animation: spin 40s infinite linear;
            transform-origin: 35vw 35vw;
        }

        @include modifier('sun') {
            top: 32vw;
            left: 40%;
            width: 25%;
        }

        @include modifier('mountain') {
            top: 20vw;
            left: 0;
            width: 60%;
        }

        @include modifier('beacon') {
            top: -22vw;
            left: 65%;
            width: 8%;
        }

        @include modifier('greenland') {
            top: 30vw;
            width: 100%;
        }

        @include modifier('stardust1') {
            top: 35vw;
            left: 65%;
            width: 18%;
        }

        @include modifier('stardust2') {
            top: 35vw;
            left: 15%;
            width: 18%;
        }

        @include modifier('ufo') {
            top: 18vw;
            left: 28%;
            width: 30%;
        }

        @include modifier('foreground') {
            top: 56vw;
            width: 100%;
        }

        @include modifier('stardust3') {
            top: 45vw;
            width: 100%;
        }
    }

}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }   
}

@keyframes scroll {
    from { background-position-x: 0%; }
    to   { background-position-x: 100%; }
}