---
layout: base.hbs
notices:
    - type: error
      icon: exclamation-triangle
      text: The documentation pages are still being written, please bear with us.
Prism:
    version: 1.6.0
    theme: dark
---

{{> body}}

<div id="demoConfig"></div>