/// Homepage
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group modules
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all Spacestation styles
///
/// @example
///     @include homepage((
///         'title-bg'    : blue,
///         'title-color' : white
///     ));
@mixin homepage($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $spacestation: config((
        'name'       : 'homepage'
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        @include component('wrapper') {
            overflow-x: hidden;
        }

        @include component('content') {
            width: 100%;
        }

        @include component('section1') {
            background-color: #2E3882;
            position: relative;
            z-index: 1;
            padding: 4em 0 8em;
            color: white;
            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                height: 100%;
                width: 102vw;
                background-color: #2E3882;
                transform: rotate(-5.5deg);
                top: -6vw;
                left: -0.5%;
            }
            @include component('graphic') {
                position: absolute;
                width: 60%;
                min-width: 600px;
                right: 0;
                bottom: 0;
                transform: scaleX(-1);
            }
            @include overwrite() {

            }
        }

        @include component('section2') {
            background-color: #080d2b;
            padding: 10em 0 8em;
            color: white;
            position: relative;
            @include component('banner') {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                z-index: 2; 
            }
            @include component('subHeading') {
                color: #f1c4eb;
            }
            @include component('block') {
                padding: 2em;
                &:nth-child(1) {
                    background-color: color('brand', 'brand-2')
                }
                &:nth-child(2) {
                    background-color: color('brand', 'brand-3')
                }
                &:nth-child(3) {
                    background-color: color('brand', 'brand-1')
                }
                a {
                    color: inherit;
                }
                p {
                    opacity: 0.9;
                }
            }
        }

    }

}