/// Homepage
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group modules
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all Spacestation styles
///
/// @example
///     @include homepage((
///         'title-bg'    : blue,
///         'title-color' : white
///     ));
@mixin homepage($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $spacestation: config((
        'name'       : 'homepage'
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        @include component('wrapper') {
            overflow: hidden;
        }

        @include component('content') {
            width: 100%;
            background-color: color('greyscale', 'grey-1');
            position: relative;
            z-index: 2;
        }

        @include component('section') {

            @include modifier('intro') {
                position: relative;
                z-index: 1;
                background-color: #2E3882;
                padding: 4em 0 9em;
                color: white;
                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    height: 100%;
                    width: 102vw;
                    background-color: #2E3882;
                    transform: rotate(-5.5deg);
                    top: -6vw;
                    left: -0.5%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    background-image: url('#{$asset-path}/images/mountain.svg');
                    background-repeat: no-repeat;
                    height: 32.7vw;
                    width: 60%;
                    min-width: 600px;
                    right: 0;
                    bottom: 0;
                    transform: scaleX(-1);
                }
            }

            @include modifier('brand') {
                background-color: #080d2b;
                padding: 10em 0 18em;
                color: white;
                position: relative;
            }

            @include modifier('overview') {
                background: #ffffff;
                box-shadow: 1px 1px 5px rgba(black, 0.1);
                padding: 6.5em core('margin') 6em;
                position: relative;
                top: -10em;
                margin-bottom: -3em;
                overflow: hidden;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 0.5em;
                    width: 100%;
                    background: gradient('brand');
                }
                &:after {
                    content: '';
                    position: absolute;
                    transform: scaleX(-1);
                    background-image: url('#{$asset-path}/images/greenland.svg');
                    background-size: 100%;
                    bottom: -4vw;
                    left: -50%;
                    height: 0;
                    padding-top: 38%;
                    width: 100%;
                }
            }

            @include modifier('codeSample') {
                padding-bottom: 6em;
                position: relative;
                overflow: hidden;
                @include component('mountain') {
                    position: absolute;
                    width: 60%;
                    min-width: 600px;
                    right: 0;
                    bottom: -15vw;
                    transform: scaleX(-1);
                }
            }

            @include modifier('features') {
                position: relative;
                padding: 8em 0 14em;
                background: white;
                box-shadow: 0px 0px 5px rgba(black, 0.1);
                overflow: hidden;

                &:after {
                    content: '';
                    background-image: url('#{$asset-path}/images/world-map.png');
                    background-size: cover;
                    position: absolute;
                    bottom: -10%;
                    width: 60%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 20%;
                    opacity: 0.2;
                }

                .livicon-evo {
                    margin: auto;
                }
            }

            @include modifier('responsive') {
                padding: 8em 0 16em;
                position: relative;
                .kgs-star {
                    position: absolute;
                    top: 2em;
                    right: 2em;
                }
                @include component('wrapper') {
                    margin-top: 9em;
                }
            }

            @include modifier('kayzengs') {
                position: relative;
                background-color: #2E3882;
                padding-bottom: 6em;
                color: color('greyscale', 'white');
                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    height: 12vw;
                    width: 102vw;
                    background-color: #2E3882;
                    -ms-transform: rotate(-5.5deg);
                    transform: rotate(-5.5deg);
                    top: -6vw;
                    left: -0.5%;
                }
                @include module {
                    @include component('gridSystem') {
                        position: absolute;
                        z-index: 1;
                        right: 0;
                        top: -14em;
                        width: 50%;
                    }
                }
                @include component('panel') {
                    position: relative;
                    padding-right: 6.5em;
                    // github star button
                    iframe {
                        position: absolute;
                        right: 6.5em;
                        top: 2em;
                    }
                }
            }

            @include modifier('semanticGrids') {
                background: linear-gradient(#2E3882 0%, #8B4490 100%);
                padding-top: 2em;
                padding-bottom: 6em;
                color: color('greyscale', 'white');
            }

            @include modifier('themes') {
                padding: 8em 0;
            }

            @include component('header') {
                @include component('icon') {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 0.75em;
                }
                @include component('title') {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

        }

        @include component('introBox') {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            z-index: 2; 
            overflow: hidden;
            .fa {
                position: absolute;
                z-index: -1;
                font-size: 10em;
                top: -0.1em;
                right: -0.1em;
                transform: rotate(15deg);
                color: #d6c5d4;
            }
        }

        @include component('overviewBox') {
            overflow: hidden;
            padding: 4em 2em;
            background: color('brand', 'brand-1');
            position: relative;
            color: white;
            &:before {
                content: '';
                position: absolute;
                background-image: url('#{$asset-path}/images/mountain.svg');
                left: 0;
                bottom: -2vw;
                width: 50%;
                height: 0;
                padding-top: 27.5%;
            }
            @include module('button') {
                @include modifier('border') {
                    &:hover {
                        background-color: color('greyscale', 'white');
                        border-color: color('greyscale', 'white');
                        color: color('brand', 'brand-1');
                    }
                }
            }
        }

        @include component('webTool') {
            height: 0;
            padding-top: 50%;
            img {
                @include vertical-center(absolute);
                left: 0;
                right: 0;
                margin: auto;
            }
            .html5-logo {
                height: 75%;
            }
            .sass-logo {
                height: 65%;
            }
            .jquery-logo {
                height: 30%;
            }
        }

        @include component('desktop') {
            width: 70%;
            margin: auto;
            margin-top: 6em;
            position: relative;
            z-index: 2;
            iframe {
                position: absolute;
                top: 4%;
                left: 3.9%;
                width: 92.2%;
                height: 58.2%;
                border: none;
            }
            img {
                position: relative;
            }
        }

        @include component('banner') {
            @include bg-overlay(rgba(black, 0.6));
            padding: 8em 0;
            background-image: url('#{$asset-path}/images/polygon-brand-dark.jpg');
            background-size: cover;
            background-attachment: fixed;
            color: color('greyscale', 'white');
            position: relative;
            @include module('list') {
                @include modifier('arrow') {
                    > li {
                        &:before {
                            color: color('brand', 'brand-4');
                        }
                    }
                }
            }
        }

        @include component('section8') {
            background: #ffffff;
            box-shadow: 1px 1px 5px rgba(black, 0.1);
            padding: 8em core('margin') 6em;
            position: relative;
            overflow: hidden;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 0.5em;
                width: 100%;
                background: linear-gradient(
                    135deg, 
                    #D02961 0%, 
                    #8b4490 40%, 
                    color('brand', 'brand-1') 100%
                )
            }
        }

        @include component('iphone5c') {
            @include vertical-center(absolute);
            width: 60%;
            transition: core('transition');
            position: absolute;
            @include component('wrapper') {
                height: 0;
                padding-top: 107%;
                position: relative;
            }
        }

        @include component('gridSystem') {
            position: relative;
            .wrapper {
                position: absolute;
                width: 100%;
                height: 70%;
                top: 25%;
                width: 95%;
                left: 0;
                right: 0;
                margin: auto;
                overflow-y: auto;
            }
            .divider {
                margin: 5% 0;
                border-color: rgba(black, 0.15);
            }
            .row {
                &:not(:first-child) {
                    margin-top: 3%;
                }
            }
            [class*='span'] {
                background: rgba(color('alert', 'error'), 0.6);
                padding: 0.9em;
            }
            @include component('browser') {
                box-shadow: 2px 2px 5px rgba(black, 0.1);
            }
        }

    }

    // make cursor in typed.js 'blink'
    .typed-cursor{
        opacity: 1;
        animation: blink 1s infinite;
    }
    @keyframes blink {
        0%   { opacity: 1; }
        50%  { opacity: 0; }
        100% { opacity: 1; }
    }

}