/// Homepage
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group modules
///
/// @param {map} $custom - where custom config will be passed
/// @outputs all Spacestation styles
///
/// @example
///     @include homepage((
///         'title-bg'    : blue,
///         'title-color' : white
///     ));
@mixin homepage($custom: ()) {

    //*************************************************************
    // Configuration
    //*************************************************************

    $spacestation: config((
        'name'       : 'homepage'
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        @include component('wrapper') {
            overflow: hidden;
        }

        @include component('content') {
            width: 100%;
            background-color: color('greyscale', 'grey-1');
            position: relative;
            z-index: 2;
        }

        @include component('section1') {
            background-color: #2E3882;
            position: relative;
            z-index: 1;
            padding: 4em 0 9em;
            color: white;
            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                height: 100%;
                width: 102vw;
                background-color: #2E3882;
                transform: rotate(-5.5deg);
                top: -6vw;
                left: -0.5%;
            }
            @include component('graphic') {
                position: absolute;
                width: 60%;
                min-width: 600px;
                right: 0;
                bottom: 0;
                transform: scaleX(-1);
            }
            @include overwrite() {

            }
        }

        @include component('section2') {
            background-color: #080d2b;
            padding: 10em 0 18em;
            color: white;
            position: relative;
            @include component('banner') {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                z-index: 2; 
                overflow: hidden;
                .fa {
                    position: absolute;
                    font-size: 10em;
                    top: -0.1em;
                    right: -0.1em;
                    transform: rotate(15deg);
                    color: #d6c5d4;
                }
            }
            @include component('subHeading') {
                color: #f1c4eb;
            }
            @include component('block') {
                padding: 2em;
                &:nth-child(1) {
                    background-color: color('brand', 'brand-2')
                }
                &:nth-child(2) {
                    background-color: color('brand', 'brand-3')
                }
                &:nth-child(3) {
                    background-color: color('brand', 'brand-1')
                }
                a {
                    color: inherit;
                }
                p {
                    opacity: 0.9;
                }
            }
            .livicon-evo-holder {
                margin: auto;
            }
        }

        @include component('section3') {
            background: #ffffff;
            box-shadow: 1px 1px 5px rgba(black, 0.1);
            padding: 6em core('margin');
            position: relative;
            top: -10em;
            margin-bottom: -3em;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: -7px;
                height: 7px;
                width: 100%;
                background: gradient('brand');
            }
        }

        @include component('section4') {
            padding-bottom: 6em;
            position: relative;
        }

        @include component('section5') {
            position: relative;
            padding: 8em 0;
            background: white;
            box-shadow: 0px 0px 5px rgba(black, 0.1);
            
            @include component('graphic') {
                position: absolute;
                width: 60%;
                min-width: 600px;
                right: 0;
                bottom: -15vw;
                transform: scaleX(-1);
            }
        }

    }

}