.spacestation {

    $image-path: '../images/spacestation';

    background-color: #000120;
    overflow: hidden;
    @media (max-width: 960px) {
        background-image: url('#{$image-path}/spacestation.svg');
        background-size: 100%;
        background-position-y: bottom;
    }

    &_layers {
        position: relative;
        z-index: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-top: 90%;
    }

    &_layer {
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        @media (max-width: 960px) {
            display: none;
        }
    }

    &_content {
        position: absolute;
        z-index: 1;
        top: 20%;
        left: 0;
        right: 0;
        width: 800px;
        max-width: 90%;
        margin: auto;
        text-align: center;
        .logo {
            text-align: center;
            img {
                height: 65px;
            }
        }
    }

    &_tagline {
        color: white;
        letter-spacing: 0.15em;
        margin-top: 1.75em;
        opacity: 0.8;
        text-shadow: 1px 1px 1px rgba(black, 0.75);
    }

    // Layers

    // dark stars
    &_layer1 {
        background-image: url('#{$image-path}/layer1.svg');
        background-repeat: repeat;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        background-size: auto;
        animation: scroll 50s linear infinite;
    }

    // light stars
    &_layer2 {
        background-image: url('#{$image-path}/layer2.svg');
        background-repeat: repeat;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        background-size: auto;
        animation: scroll 120s linear infinite;
    }

    // planets
    &_layer3 {
        background-image: url('#{$image-path}/layer3.svg');
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
    }

    // sun
    &_layer4 {
        background-image: url('#{$image-path}/layer4.svg');
        position: fixed;
        height: 29%;
        width: 29%;
        bottom: 0%;
        left: 37%;
    }

    // mountain
    &_layer5 {
        background-image: url('#{$image-path}/layer5.svg');
        height: 37.8%;
        width: 66%;
        bottom: 30%;
        left: 0;
    }

    // rocket
    &_layer6 {
        background-image: url('#{$image-path}/layer6.svg');
        background-size: 10%;
        background-position: 17% 13%;
        position: fixed;
        animation: spin 40s infinite linear;
        height: 100%;
        width: 100%;
        top: 0;
    }

    // beacon
    &_layer7 {
        background-image: url('#{$image-path}/layer7.svg');
        height: 100%;
        width: 10%;
        right: 27%;
        bottom: 25%;
    }

    // green land
    &_layer8 {
        background-image: url('#{$image-path}/layer8.svg');
        height: 38%;
        width: 100%;
        bottom: 15%;
    }

    // stardust
    &_layer9 {
        background-image: url('#{$image-path}/layer9.svg');
        top: auto;
        bottom: 35%;
        height: 8%;
        width: 16%;
        right: 18%;
    }

    // stardust
    &_layer10 {
        background-image: url('#{$image-path}/layer10.svg');
        top: auto;
        width: 16%;
        height: 22%;
        bottom: 20%;
        left: 15%;
    }

    // UFO
    &_layer11 {
        background-image: url('#{$image-path}/layer11.svg');
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 2;
    }

    // foreground
    &_layer12 {
        background-image: url('#{$image-path}/layer12.svg');
        height: 12.5%;
        width: 100%;
        bottom: 0;
    }

    // stardust
    &_layer13 {
        background-image: url('#{$image-path}/layer13.svg');
        height: 25%;
        width: 100%;
        bottom: -30%;
    }

}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }   
}

@keyframes scroll {
    from { background-position-x: 0%; }
    to   { background-position-x: 100%; }
}