///************************************************************
/// Module Demos
///************************************************************

$theme: 'demo';
$disable-output: true;
$to-JSON: false;

@import '../../One-Nexus/assets/app';

@include palettes;
@include grid;
@include typography;
@include core;

@include alert-bars((
    'disable-output': false,
    'name': 'alertDemo-1',
    'colors':(
        'carrot': #F97E52,
        'error' : #DA4D44,
        'rose'  : #D870AD
    )
));