///************************************************************
/// Module Demos
///************************************************************

$theme: 'demo';
$disable-output: true;
$to-JSON: false;

@import '../../One-Nexus/assets/app';

@include palettes;
@include grid;
@include typography;
@include core;

@include blockquotes((
    'disable-output': false,
    'name': 'blockquoteDemo1',
    'quotes': '\f10d''\f10e''\f053''\f054',
    'icon':(
        'font-family': FontAwesome,
        'size': 2em,
        'height': 1em,
        'left': (true, top),
        'right': (true, bottom)
    )
));