///************************************************************
/// Module Demos
///************************************************************

$theme: 'demo';
$disable-output: true;
$to-JSON: false;

@import '../../One-Nexus/assets/app';

@include palettes;
@include grid;
@include typography;
@include core;

@include forms((
    'disable-output': false,
    'name': 'formDemo-1',
    'input-color': color('brand', 'brand-3'),
    'input-border': 1px solid color('brand', 'brand-3')
));