/// Device Outline
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group modules
///
/// @param {map} $custom - where custom config will be passeds
@mixin device-outline($custom: ()) {

    // Configuration
    $device-outline: config((
        'name'        : 'deviceOutline'
    ), $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        @include modifier('invert') {
            filter: invert(100%);
        }

        @include component {
            position: absolute;
        }

        @include component('phone') {
            opacity: 0.4;
            width: 9.8%;
            top: 0;
            right: 30%;
            transform: rotate(-6deg);
        }

        @include component('tablet') {
            opacity: 0.4;
            width: 20%;
            top: -6vw;
            right: 5%;
            transform: rotate(84deg);
        }

        @include component('miniTablet') {
            opacity: 0.4;
            width: 20%;
            top: 20.4vw;
            right: 17%;
            transform: rotate(-6deg);
        }

        @include component('sidePhone') {
            opacity: 0.4;
            width: 9.8%;
            top: 12.8vw;
            right: 2%;
            transform: rotate(84deg);
        }

        @include component('laptop') {
            position: relative;

            @include component('content') {
                position: absolute;
                height: 83%;
                width: 76%;
                left: 0;
                right: 0;
                top: 6%;
                margin: auto;
                padding: 2em;
            }

            small {
                white-space: pre;
            }
        }
    }

}