///****************************************************************
/// One Nexus - Homepage theme
/// @author [@esr360](http://twitter.com/esr360)
///****************************************************************

@if $theme == 'Homepage' {

    ///************************************************************
    /// Skeleton
    ///************************************************************

    @include palettes;

    @include typography((
        'colors':(
            'link': color('brand', 'brand-2'),
			'link-hover': #39ffdc
        )
    ));

    @include grid;
    @include core;
    @include helpers;

    ///************************************************************
    /// Elements
    ///************************************************************

	@include accordions();
	@include alert-bars();
	@include blockquotes();

	@include buttons((
		'active-background': color('brand', 'brand-3'),
		'combine':(
			'primary'  : ('round', 'size-4', 'brand-1'),
			'secondary': ('sharp', 'size-4', 'brand-2')
		),
        'font-family'  : typography('typefaces', 'secondary')
	)) {
		@include component('group') {
			@include component('item') {
				padding: 0 0.5em;
			}
		}
	};

	@include carousels;
	@include forms;

	@include headings(('color': color('greyscale', 'grey-5'))) {
		@include modifier('brand-1') {
			color: #505cb9;
		}
		@include modifier('grey-5') {
            color: color('greyscale', 'grey-5');
		}
	};

	@include images;

	@include lists {
		@include modifier('interactive') {
			margin-bottom: -0.5em;
			> li {
				padding: 0.5em 0.5em 0.5em 2.5em;
				cursor: pointer;
				transition: core('transition');
				&.active {
					background: color('greyscale', 'white');
					box-shadow: 0px 1px 3px rgba(black, 0.1);
					color: color('brand', 'brand-3');
					&:before {
						color: color('brand', 'brand-3');
					}
				}
				&:hover {
					&:before {
						color: color('brand', 'brand-3');
					}
				}
				&:before {
					left: 1em;
					height: 1.7em;
					transition: core('transition');
					color: #505CB9;
				}
			}
		}
	};

	@include modals;
	@include progress-bars;
	@include tables;
	@include tabs;
	@include thumbnails;
	@include tooltips;

	@include wells((
		'radius' : 0,
		'CSS': (
			'box-shadow': 1px 1px 5px rgba(black, 0.1)
		)
	));

	@include widgets;

    ///************************************************************
    /// Objects
    ///************************************************************

	@include breadcrumb;
	@include footer;
	@include google-map;

	@include header(('background': transparent)) {
		@include modifier('hidden') {
			display: none;
		}
        @include modifier('fixed') {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 12;
        }
	};

	@include logo;
	@include navigation;
	@include dropdown;
	@include side-nav;
	@include flyout-nav;
	@include scroll-top;
	@include search;
	@include site-overlay;
	@include twitter-feed;

    ///************************************************************
    /// Sections
    ///************************************************************

    @include sections;

	@include billboard((
		'background' : url(#{$asset-path}/images/spacestation/spacestation.svg)
	)) {
		background-attachment: fixed;
		@include component('wrapper') {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			transform: none;
			top: 0;
		}
	};

	@include spacestation;
	@include homepage;

    ///************************************************************
    /// Misc
    ///************************************************************

	.object-large {
	    @include object(core('margin')*2);
	}

}