@import '../../modules/brand-blocks/brand-blocks.json';
/// Brand Blocks
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group modules
///
/// @param {map} $custom - where custom config will be passed
@mixin brand-blocks($custom: custom('brand-blocks')) {

    // Configuration
    $brand-blocks: config($brand-blocks, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        padding: 2em;

        @for $i from 1 through length(this('colors')) {
            $color: nth(nth(this('colors'), $i), 2);

            @include modifier('brand#{$i}') {
                background-color: $color;
            }
        }

        .livicon-evo-holder {
            margin: auto;
        }

        a { color: inherit }

        p { opacity: 0.9 }

    }

}