@import '../../modules/homepage/homepage.json';
/// Homepage
///
/// @author [@esr360](http://twitter.com/esr360)
/// @access public
/// @group modules
///
/// @param {map} $custom - where custom config will be passed
@mixin homepage($custom: custom('homepage')) {

    // Configuration
    $homepage: config($homepage, $custom);

    //*************************************************************
    // Module
    //*************************************************************

    @include module {

        @at-root {
            body {
                background-color: #000120;
            }
        }

        @include component('wrapper') {
            position: relative;

            // Apply perspective for CSS parallax
            @media (min-width: breakpoint('break-3')) {
                height: 100vh;
                overflow-x: hidden;
                overflow-y: scroll;
                perspective: 1px;
                perspective-origin: 0 0;
            }
        }

        @include component('content') {
            width: 100%;
            background-color: color('greyscale', 'grey-1');
            position: relative;
            z-index: 2;
            transform: translateY(1px);
        }

        @include component('bottom') {
            overflow: hidden;
            position: relative;
            bottom: -1px;
        }

        @include component('section') {

            @include modifier('intro') {
                position: relative;
                z-index: 1;
                background-color: #2E3882;
                padding: 4em 0 9em;
                color: white;
                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    height: 100%;
                    width: 110vw;
                    background-color: #2E3882;
                    transform: rotate(-5.5deg);
                    top: -6vw;
                    left: -0.5%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    background-image: url('#{$asset-path}/images/mountain.svg');
                    background-repeat: no-repeat;
                    height: 32.7vw;
                    width: 60%;
                    min-width: 600px;
                    right: 0;
                    bottom: 0;
                    transform: scaleX(-1);
                    z-index: -1;
                }
            }

            @include modifier('brand') {
                background-color: #080d2b;
                padding-top: 10em;
                padding-bottom: 15em;
                color: white;
                position: relative;
                @media (min-width: breakpoint('break-3')) {
                    padding-bottom: 18em;
                }
            }

            @include modifier('overview') {
                background: #ffffff;
                box-shadow: 1px 1px 5px rgba(black, 0.1);
                padding: 4em core('margin');
                position: relative;
                top: -10em;
                margin-bottom: -10em;
                overflow: hidden;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 0.5em;
                    width: 100%;
                    background: gradient('brand');
                }
                @media (min-width: breakpoint('break-3')) {
                    padding: 6.5em core('margin');
                }
            }

            @include modifier('cards') {
                overflow: hidden;
                position: relative;
                z-index: -1;
                top: -4em;
                background: linear-gradient(
                    color('brand', 'brand-3') 0%, #009be4 100%
                );
                color: color('greyscale', white);
                box-shadow: inset 0px 1px 3px 1px rgba(black, 0.1);
                padding-top: 8em;
                padding-bottom: 13em;
                &:before {
                    content: '';
                    position: absolute;
                    z-index: 0;
                    height: 12vw;
                    width: 102vw;
                    background-color: color('greyscale', 'grey-1');
                    -ms-transform: rotate(-5.5deg);
                    transform: rotate(-5.5deg);
                    bottom: -7vw;
                    left: -0.5%;
                    box-shadow: -1px -1px 3px rgba(black, 0.1);
                }
                @media (min-width: breakpoint('break-3')) {
                    padding-top: 10em;
                    padding-bottom: 16em;
                    margin-bottom: 3em;
                }
            }

            @include modifier('codeSample') {
                padding-bottom: 6em;
                position: relative;
                overflow: hidden;
                @include component('mountain') {
                    position: absolute;
                    width: 60%;
                    min-width: 600px;
                    right: 0;
                    bottom: -12%;
                    transform: scaleX(-1);
                }
            }
            @include modifier('dotMap') {
                position: relative;
                overflow: hidden;
                &:after {
                    content: '';
                    background-image: url('#{$asset-path}/images/world-map.png');
                    background-size: cover;
                    position: absolute;
                    bottom: -6em;
                    width: 71em;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 13em;
                    opacity: 0.2;
                }
            }

            @include modifier('features') {
                padding: 4em 0 11em;
                background: white;
                box-shadow: 0px 0px 5px rgba(black, 0.1);
                .livicon-evo {
                    margin: auto;
                }
                @media (min-width: breakpoint('break-3')) {
                    padding: 8em 0 14em;
                }
            }

            @include modifier('responsive') {
                padding: 4em 0 8em;
                position: relative;
                .kgs-star {
                    position: absolute;
                    top: 2em;
                    right: 2em;
                }
                @include component('wrapper') {
                    margin-top: 3em;
                }
                @media (min-width: breakpoint('break-3')) {
                    padding: 8em 0 16em;
                    @include component('wrapper') {
                        margin-top: 9em;
                    }
                }
            }

            @include modifier('kayzengs') {
                position: relative;
                background-color: #2E3882;
                padding-bottom: 2em;
                color: color('greyscale', white);
                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    height: 12vw;
                    width: 102vw;
                    background-color: #2E3882;
                    -ms-transform: rotate(-5.5deg);
                    transform: rotate(-5.5deg);
                    top: -6vw;
                    left: -0.5%;
                }
                @media (min-width: breakpoint('break-3')) {
                    padding-bottom: 6em;
                }
                @include module {
                    @include component('gridSystem') {
                        position: absolute;
                        z-index: 1;
                        right: 0;
                        top: -14em;
                        width: 50%;
                    }
                }
                @include component('panel') {
                    position: relative;
                    // github star button
                    iframe {
                        position: absolute;
                        right: 6.5em;
                        top: 2em;
                    }
                    @media (min-width: breakpoint('break-3')) {
                        padding-right: 6.5em;
                    }
                }
                @include component('stardust3') {
                    position: absolute;
                    z-index: 3;
                    pointer-events: none;
                    top: 28%;
                }
            }

            @include modifier('semanticGrids') {
                background: linear-gradient(#2E3882 0%, #8B4490 100%);
                padding-top: 2em;
                padding-bottom: 6em;
                color: color('greyscale', white);
                @include component('mountain') {
                    bottom: -15vw;
                }
            }

            @include modifier('themes') {
                padding: 4em 0 10em;
                @media (min-width: breakpoint('break-3')) {
                    padding: 8em 0 14em;
                }
            }

            @include modifier('signoff') {
                position: relative;
                overflow: hidden;
                background-color: color('brand', 'brand-4');
                background: linear-gradient(#5d3d88 0%, color('brand', 'brand-4') 100%);
                color: color('greyscale', white);
                padding-top: 6em;
                padding-bottom: 11em;
                @media (min-width: breakpoint('break-3')) {
                    padding-top: 8em;
                    padding-bottom: 13em;
                }
            }

            @include modifier('social') {
                background: #ffffff;
                box-shadow: 1px 1px 5px rgba(black, 0.1);
                margin-top: -6em;
                margin-bottom: 8em;
                padding: 4em core('margin');
                position: relative;
                overflow: hidden;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 0.5em;
                    width: 100%;
                    background: linear-gradient(
                        135deg, 
                        #D02961 0%, 
                        #8b4490 40%, 
                        color('brand', 'brand-1') 100%
                    )
                }
                @media (min-width: breakpoint('break-3')) {
                    margin-bottom: 14em;
                    padding: 6em core('margin');
                }
                .fa-heart {
                    color: color('brand', 'brand-4');
                }
            }

            @include component('header') {
                @include component('icon') {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 0.75em;
                }
                @include component('title') {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            @include component('box') {
                position: relative;
                background-color: color('brand', 'brand-4');
                color: color('greyscale', white);
                box-shadow: 1px 1px 3px rgba(black, 0.1);
                padding: 2em;
                a, a:hover {
                    color: inherit;
                }
                @include component('wrapper') {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                @include modifier('alt') {
                    background-color: color('brand', 'brand-2');
                }
                // github star button
                iframe {
                    position: absolute;
                    right: 2em;
                    top: 2em;
                }
            }

            @include component('foreground') {
                position: absolute;
                width: 100%;
                z-index: -1;
                bottom: -5vw;
                transform: translateZ(0);
            }

            @include component('carouselNav') {
                @media (max-width: breakpoint('break-4')) {
                    position: relative;
                    text-align: center;
                    margin-top: core('margin');
                    z-index: 2;
                }
                @include component('item') {
                    height: 2em;
                    width: 2em;
                    border: 1px solid;
                    border-radius: 50%;
                    text-align: center;
                    transition: core('transition');
                    cursor: pointer;
                    top: 40%;
                    @media (min-width: breakpoint('break-4')) {
                        position: absolute;
                    }
                    &.fa {
                        line-height: 1.8;
                        font-size: 1.5em;
                    }
                    &:hover {
                        background-color: color('greyscale', white);
                        color: color('brand', 'brand-2');
                        border-color: color('greyscale', white);
                    }
                    @include modifier('prev') {
                        left: 5vh;
                    }
                    @include modifier('next') {
                        right: 5vh;
                        letter-spacing: -0.15em;
                    }
                }
            }

        }

        @include component('introBox') {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            z-index: 2; 
            overflow: hidden;
            color: typography('colors', 'base');
            .fa {
                position: absolute;
                z-index: -1;
                font-size: 10em;
                top: -0.1em;
                right: -0.1em;
                transform: rotate(15deg);
                color: #d6c5d4;
            }
        }

        @include component('overviewBox') {
            overflow: hidden;
            padding: 4em 2em;
            background: color('brand', 'brand-1');
            position: relative;
            color: white;
            text-align: center;
            &:before {
                content: '';
                position: absolute;
                background-image: url('#{$asset-path}/images/mountain.svg');
                left: 0;
                bottom: -2vw;
                width: 50%;
                height: 0;
                padding-top: 27.5%;
                pointer-events: none;
            }
            @include module('button') {
                @include modifier('border') {
                    &:hover {
                        background-color: color('greyscale', white);
                        border-color: color('greyscale', white);
                        color: color('brand', 'brand-1');
                    }
                }
            }
            @media (min-width: breakpoint('break-2')) {
                text-align: right;
            }
        }

        @include component('webTool') {
            height: 0;
            padding-top: 50%;
            img {
                @include vertical-center(absolute);
                left: 0;
                right: 0;
                margin: auto;
            }
            .html5-logo {
                height: 75%;
            }
            .sass-logo {
                height: 65%;
            }
            .jquery-logo {
                height: 30%;
            }
        }

        @include component('desktop') {
            width: 70%;
            margin: auto;
            margin-top: 6em;
            position: relative;
            z-index: 2;
            iframe {
                position: absolute;
                top: 4%;
                left: 3.9%;
                width: 92.2%;
                height: 58.2%;
                border: none;
            }
            img {
                position: relative;
                pointer-events: none;
            }
        }

        @include component('banner') {
            @include bg-overlay(rgba(black, 0.4));
            padding: 5em 0;
            background-image: url('#{$asset-path}/images/polygon-brand-dark.jpg');
            background-size: cover;
            color: color('greyscale', white);
            position: relative;
            @include module('list') {
                @include modifier('arrow') {
                    > li {
                        &:before {
                            color: color('brand', 'brand-4');
                        }
                    }
                }
            }
            @media (min-width: breakpoint('break-3')) {
                padding: 8em 0;
            }
        }

        @include component('iphone5c') {
            @include vertical-center(absolute);
            width: 60%;
            transition: 0.6s;
            position: absolute;
            @include component('wrapper') {
                height: 0;
                padding-top: 107%;
                position: relative;
            }
        }

        @include component('gridSystem') {
            position: relative;
            .wrapper {
                position: absolute;
                width: 100%;
                height: 70%;
                top: 25%;
                width: 95%;
                left: 0;
                right: 0;
                margin: auto;
                overflow-y: auto;
            }
            .divider {
                margin: 5% 0;
                border-color: rgba(black, 0.15);
            }
            .row {
                &:not(:first-child) {
                    margin-top: 3%;
                }
            }
            [class*='span'] {
                background: rgba(color('alert', 'error'), 0.6);
                padding: 0.9em;
            }
            @include component('browser') {
                box-shadow: 2px 2px 5px rgba(black, 0.1);
            }
        }

        @include component('layout') {
            transition: core('transition');
            transform: translateZ(0);
            &:hover {
                transform: scale(1.1);
                filter: hue-rotate(50deg);
            }
            @include modifier('pink') {
                filter: hue-rotate(50deg);
                &:hover {
                    filter: hue-rotate(150deg);
                }
            }
            @include modifier('red') {
                filter: hue-rotate(69deg);
                &:hover {
                    filter: hue-rotate(169deg);
                }
            }
            @include modifier('orange') {
                filter: hue-rotate(89deg);
                &:hover {
                    filter: hue-rotate(189deg);
                }
            }
            @include modifier('green') {
                filter: hue-rotate(166deg);
                &:hover {
                    filter: hue-rotate(269deg);
                }
            }
            @include modifier('ocean') {
                filter: hue-rotate(233deg);
                &:hover {
                    filter: hue-rotate(333deg);
                }
            }
            @include modifier('blue') {
                filter: hue-rotate(270deg);
                &:hover {
                    filter: hue-rotate(370deg);
                }
            }
            @include modifier('royal') {
                filter: hue-rotate(300deg);
                &:hover {
                    filter: hue-rotate(400deg);
                }
            }
            @include modifier('purple') {
                filter: hue-rotate(335deg);
                &:hover {
                    filter: hue-rotate(435deg);
                }
            }
        }

    }

    @include module('container') {
        @include modifier('full') {
            max-width: calc(100% - (#{option($grid, 'options', 'gutter')} * 2));
            width: calc(100% - (#{option($grid, 'options', 'gutter')} * 2));
        }
    }

    // make cursor in typed.js 'blink'
    .typed-cursor{
        opacity: 1;
        animation: blink 1s infinite;
    }
    @keyframes blink {
        0%   { opacity: 1; }
        50%  { opacity: 0; }
        100% { opacity: 1; }
    }

}